.data {
    display: none;
}

body {
    background-color: #A3DA8D ;
}

.btn-custome {
    background-color: #146356;
    color: #FFF1BD;
}

.btn-kastem {
    background-color: #FFF1BD;
    color: #146356;
}

.text-kastem {
    color: #F3C892;
}
